.navegacao {
    padding: 20px 0;
    color: white;
    background-color: white !important;
    &__links {
        flex-direction: column;
        align-items: end;
    }
}
.title {
    font-size: 2rem;
    &__color {
        color: $color_blue;
    }
}
.nav {
    &__link {
        &:hover {
            .nav__icon {
                color: $color_blue;
            }
        }
    }
    &__icon {
        color: transparent;
        font-size: 1rem;
        transition: 0.5s all ease-in-out;
    }
}
@media only screen and (min-width: 768px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        margin: 0 2rem;
    }
    .nav-link:nth-child(3) {
        margin: 0;
    }
}